@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.header-colored-bg {
  width: 100vw;
  height: 55%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0%, 100% 49%, 0% 100%);
  background-color: cornflowerblue;
}

ul,
li {
  list-style: none;
}

.overAllTopContainer {
  max-width: 1200px;
  min-height: 100vh;
  margin: 2rem 10rem;
}


/* Header section */

header {
  margin-top: 4rem;
  /* background-color: burlywood; */
  min-height: 60vh;
}

.headerContentContaienr > img {
  position: inherit;
  width: 400px;
  height: 400px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.headerContentContaienr {
  position: relative;
  display: flex;
  align-items: center;
}

.user-Name {
  position: absolute;
  color: cornflowerblue;
  width: 400px;
  display: flex;
  justify-content: center;
  bottom: 0;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.about-content {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

p {
  font-family: "Courier New", Courier, monospace;
  color: rgb(46, 45, 45);
}

h1 {
  font-weight: 500;
}

.social-links {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  justify-content: end;
}

/* Work show case section */
section {
  margin-top: 5rem;
  background-color: cadetblue;
}

section > h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}




@media screen and (max-width: 1150px) {
  .headerContentContaienr > img {
    width: 300px;
    height: 300px;
    position: relative;
    top: 0;
  }
  .about-content {
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 7rem;
    padding-top: 10rem;
    z-index: -1;
  }

  .user-Name {
    top: 3.5rem;
    left: 15rem;
    color: white;
  }

  .overAllTopContainer {
    margin: 2rem;
  }
}

@media screen and (max-width: 830px) {
  .about-content {
    padding-top: 17rem;
  }
  .headerContentContaienr  > img{
    position: unset;
  }
  .user-Name {
    position: unset;
    color: cornflowerblue;
    width: fit-content;
    height: fit-content;
  }
  
  .headerContentContaienr {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .headerContentContaienr > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .user-Name {
    font-size: 2rem;
  }

  .about-content {
    padding-top: 7rem;
    top: 9rem;
  }

  header {
    min-height: 70vh;
  }
}



/* .card-container {
  display: grid;
  grid-template: none / repeat(
      auto-fit,
      minmax(min(18rem, 100%), 1fr)
    );
  gap: 1.5rem;
}

.card {
  max-width: 320px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.card-img-contaienr {
  width: 320px;
  height: 200px;
  background-color: aqua;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}

.card-description {
  padding: 0.5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
} */

/* Contect section */

footer {
  min-height: 200px;
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  padding: 2rem;
}
.contect-Menu {
  /* background-color: bisque; */
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mail-num-box {
  display: flex;
  gap: 5px;
}

.socialMedia-links-atFooter > i {
  font-size: 2rem;
  margin-right: 1rem;
}

